# Игнорировать скомпилированные файлы Java и каталоги
*.class
/target/

# Игнорировать каталоги сборки Maven
.mvn/
target/

# Игнорировать файлы конфигурации IDE
.idea/
*.iml
*.iws
*.ipr

# Игнорировать файлы временных данных и логи
*.log
*.swp
*.bak
*.tmp

# Игнорировать файлы конфигурации
application.properties